.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

  &--welcome {
    background-color: #000000;
    border: 1px solid;
    width: 100%;
    margin-top: 75px;
    text-align: center;
    font-size: 1.0rem;
    font-weight: lighter;
    letter-spacing: 7px;
    opacity: 1;
    transform: scale(1);
    transition: all 1.2s ease-out;

    &:hover {
      background-color: #707070;
    }
  }

  &--hidden {
    visibility: hidden;
    background-color: #FFF;
    transform: scale(1.6);
    opacity: 0;
    transition: all .3s ease-out;
  }

}
