.welcome {
  position: fixed;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: visible;
  transform: scale(1);
  opacity: 1;


  &__flag-box {

    display: block;
    position: relative;
    left: 50%;
    top: 45%;
    width: 200px;
    height: 75px;
    margin: -50px 0 0 -100px;
    z-index: 1005;


    @mixin atSmall {

    display: block;
    position: relative;
    left: 50%;
    top: 45%;
    width: 350px;
    height: 75px;
    margin: -50px 0 0 -175px;
    z-index: 1005;

    }

  }

  &__loader {
    display: block;
    position: relative;
    left: 50%;
    top: 60%;
    width: 200px;
    height: 50px;
    margin: -50px 0 0 -100px;
    z-index: 1005;

  }

  &__close {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: all 1s ease-out;
  }

  &--to-white {
    background-color: #FFF;
    opacity: 1;
    transition: all 3s linear;
  }

  &--fade {
    opacity: 0;
    transition: all 3s ease-out;
  }
}
